<!DOCTYPE html>
<html>
  <head>
    <title>DiabolicChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
    <%= yield %>

    <script type="text/javascript">
      window.AppConfig = {
        WEBSOCKET_HOST: "<%= ENV['WEBSOCKET_HOST'] %>",
        WEBSOCKET_PATH: "<%= ActionCable.server.config.mount_path %>",
      <% if user_signed_in? %>
        WEBSOCKET_USER_ID_SECRET: "<%= signed_user_id %>",
      <% end %>
      }
    </script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
